<%= form_for(recipe) do |form| %>
  <% if recipe.errors.any? %>
    <% recipe.errors.full_messages.each do |error| %>
       <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= form.label :title, "Nazwa" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-end text-center">
      <div class="form-group mx-auto">
        <%= form.label :featured, "Na głównej" %>
        <%= form.check_box :featured %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :subtitle, "Streszczenie" %>
    <%= form.text_area :subtitle, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ingredients, "Składniki" %>
    <%= form.text_area :ingredients, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body, "Opis" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
     <label class="btn btn-primary btn-block">
        Wybierz główny obraz <%= form.file_field :main_image, style: 'display: none;' %>
     </label>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
