<%= render "shared/recipes_header" %>

<div class="bg-light py-3">
  <div class="container">
    <% if logged_in?(:site_admin) %>
      <div class="row">
        <div class="col-md-12 mb-4">
          <%= link_to 'Nowy Przepis', new_recipe_path, class: "pull-right" if logged_in?(:site_admin) %>
        </div>
      </div>
    <% end %>

    <% @recipes.each.with_index(1) do |recipe, index| %>
      <%= link_to recipe, class: "row no-underline" do %>
      <div class="row w-100 recipe px-3 py-4">
        <div class="col-md-4 <%= 'order-1 order-md-12' if index.even? %>">
          <%= image_tag recipe_img(recipe.thumb_image, 'thumb'), width: '100%' %>
        </div>
        <div class="col-md-8 order-2 pt-4">
          <div class="row">
            <div class="col">
              <h2 class="blog-post-title englebert-600 text-center"> <%= markdown recipe.title %></h2>
            </div>

            <% if logged_in?(:site_admin) %>
              <div class="col-2 text-center"><%= render partial: 'recipes/admin_actions', locals: { recipe: recipe } %></div>
            <% end %>
          </div>
          <span class="text-black text-justify"><%= markdown recipe.subtitle %></span>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
