<%= render "shared/blog_header" %>

<div class="bg-light py-3">
  <div class="container">
    <% if logged_in?(:site_admin) %>
      <div class="row">
        <nav class="col-12 breadcrumb">
          <span class="pull-right">
            <%= link_to fa_icon('pencil-square-o'), edit_recipe_path(@recipe) if logged_in?(:site_admin) %>
            <%= link_to fa_icon('trash'), @recipe, method: :delete,
            data: { confirm: "Czy chcesz usunąć ten przepis?" } if logged_in?(:site_admin) %>
          </span>
        </nav>
      </div>
    <% end %>

    <div class="row my-3">
      <h2 class="mx-auto text-primary f-cursive"><strong><%= markdown @recipe.title %></strong></h2>
    </div>

    <div class="row">
      <div class="col-8 text-center mb-4">
        <%= image_tag recipe_img(@recipe.main_image, 'main'), width: '100%' %>
      </div>

      <div class="col-4">
        <h4 class="text-primary f-cursive"><strong>Składniki:</strong></h4>
        <%= markdown @recipe.ingredients %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4 class="text-primary f-cursive"><strong>Opis przygotowania:</strong></h4>
        <p><%= markdown @recipe.body %></p>
      </div>
    </div>
  </div>
</div>
