<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @recipe.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recipe.body %>
</p>

<p>
  <strong>Thumb image:</strong>
  <%= @recipe.thumb_image %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @recipe.main_image %>
</p>

<p>
  <strong>Position:</strong>
  <%= @recipe.position %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
