<%= render "shared/about-me_header" %>

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 order-md-2 text-center text-md-right pb-3 pb-md-0">
        <%= image_tag "patrycja_piekarczyk.png", width: "360" %>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-8">
        <div class="row no-gutters">
          <p class="lead text-justify">Idea działalności, którą prowadzę zrodziła się z moich naukowych zainteresowań, którymi są: dietoterapia dzieci z całościowymi zaburzeniami rozwoju, zaburzenia odżywiania dzieci i młodzieży oraz osób dorosłych.</p>
          <p class="lead text-justify">Dodatkowym czynnikiem mającym wpływ na moją ścieżkę zawodową są osobiste doświadczenia związane z odchudzaniem, często niezdrowym a w rezultacie nieskutecznym. Dlatego też, do każdego klienta mam indywidualne podejście, aby zmaksymalizować efekt końcowy. Od kilku lat pracuję z najmłodszymi, w różnych placówkach.</p>
          <p class="lead text-justify">Doświadczenia te pozwoliły mi nauczyć się podążać za dzieckiem, za jego oczekiwaniami i potrzebami. Połączenie wiedzy z tych dwóch obszarów naukowych daje mi ogromne możliwości w pracy z klientem na różnych płaszczyznach jego życia.</p>
        </div>

        <div class="row no-gutters">
          <nav class="nav">
             <a href="#" class="nav-link"><%= fa_icon "facebook 2x" %></a>
             <a href="#" class="nav-link"><%= fa_icon "instagram 2x" %></a>
             <a href="#" class="nav-link"><%= fa_icon "twitter 2x" %></a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
