<% content_for :title, "Dietetyk Gdańsk Wrzeszcz - Gabinet Równowaga" %>
<%= render "shared/main_header" %>

<article class="bg-light container py-5 my-5">
  <div class="card-deck flex-column flex-lg-row py-3">
    <section class="card mb-3 mb-lg-0">
      <%= image_tag "https://s3.eu-central-1.amazonaws.com/gabinet-rownowaga/static/step1.jpg", class: "card-img-top" %>
      <div class="card-body text-center">
        <h4 class="card-title">Zrób coś dla siebie i zadbaj o swoje zdrowie!</h4>
        <p class="card-text text-justify">Umawiając się ze mną na <strong>darmową konsultację</strong> jesteś o krok bliżej do osiągnięcia lepszej sylwetki i stanu zdrowia. Wypełnienie formularza zajmie Ci około 10 minut - <strong>resztą zajmę się ja!</strong></p>
      </div>
    </section>
    <section class="card mb-3 mb-lg-0">
      <%= image_tag "https://s3.eu-central-1.amazonaws.com/gabinet-rownowaga/static/step2.jpg", class: "card-img-top" %>
      <div class="card-body text-center">
        <h4 class="card-title">Realizuj swój plan i ciesz się jedzeniem!</h4>
        <p class="card-text text-justify">Aby osiągnąć <b>wymarzony cel</b> Twoim zadaniem będzie przestrzeganie kilku prostych zasad. Moi klienci już po tygodniu zaczynają zauważać <b>pierwsze efekty</b> swojej pracy!</p>
      </div>
    </section>
    <section class="card">
      <%= image_tag "https://s3.eu-central-1.amazonaws.com/gabinet-rownowaga/static/step3.jpg", class: "card-img-top" %>
      <div class="card-body text-center">
        <h4 class="card-title">Pogratuluj sobie wytrwałości!</h4>
        <p class="card-text text-justify">Kiedy <b>osiągniesz swój cel</b> poczujesz dumę z samego siebie, ale również chęć na więcej. Masz <strong>więcej siły i energii</strong>, zaczynasz być motywacją dla innych. Nie bez powodu istnieje powiedzenie „w zdrowym ciele, zdrowy duch”!</p>
      </div>
    </section>
  </div>
</article>

<div class="bg-white py-5">
  <article class="container py-5">
    <h2 class="englebert-600 h1 text-center text-lg-left">Dlaczego dietetyk ?</h2>
    <div class="header-underline mx-lg-0"></div>
    <div class="row">
      <div class="col-12 col-lg-8 text-justify">
        <h5>
          Zdrowy styl życia
        </h5>
        <p>
          Dieta i zdrowy styl życia to obecnie bardzo popularny i modny temat. Większość z nas wie, jakie produkty warto używać a jakie wyeliminować z codziennej diety. W internecie istnieje mnóstwo stron z poradami dietetycznymi, przykładowymi planami żywieniowymi oraz wskazówkami jak postępować w konkretnych jednostkach chorobowych. Zadajemy sobie pytanie „Po co korzystać z pomocy dietetyka?”
        </p>
        <h5>
          Dieta cud nie istnieje
        </h5>
        <p>
          Pomimo tak ogromnej dostępności informacji w internecie trafia do mnie dużo osób, które już próbowały różnorodnych cudownych diet. Decydując się na dietę cud promowaną w mediach społecznościowych bądź magazynach należy brać pod uwagę ryzyko związane z niedoborami składników odżywczych w organizmie, które mogą powodować obniżenie koncentracji, drażliwość, zmęczenie, wypadanie włosów, łamliwość paznokci a nawet zwiększoną podatność na choroby i infekcje.
        </p>
        <h5>
          Odpowiednia motywacja
        </h5>
        <p>
          Poza tym dietetyk udziela odpowiedniego wsparcia dla osoby pragnącej zmienić swoją sylwetkę. Indywidualna motywacja starcza na okres około 2-3 tygodni. Po tym czasie następuje rozluźnienie w wyniku utraconej już wagi bądź zniechęcenie związane z brakiem utraty kilogramów. Zaczyna się podjadanie a konsekwencją tego jest rezygnacja z diety. Regularne wizyty w gabinecie w naturalny sposób podtrzymują motywację.
        </p>
        
        <p>
          Dlatego uważam, że nie ma czegoś takiego jak „dieta cud”, ale wiem, że odpowiednio ułożony plan żywieniowy potrafi czynić cuda i zmienić życie!
        </p>
      </div>
      <div class="col-12 col-lg-4 pt-5">
        <div class="text-primary text-center">
          <div class="mb-1"><%= image_tag "logo.png", width: "50", class: "logo rounded-circle" %></div>
          <strong class="h-4">Umawiając się na wizytę w gabinecie <span class="englebert-sm">"Równowaga"</span> masz gwarancję:</strong>
        </div>
        <div class="d-flex justify-content-center">
          <div class="d-inline-block pl-4 pt-3">
            <p><i class="fa icon-check pr-2"></i>Skutecznej diety</p>
            <p><i class="fa icon-check pr-2"></i>Wyznaczenia celów</p>
            <p><i class="fa icon-check pr-2"></i>Mierzenia efektów</p>
            <p><i class="fa icon-check pr-2"></i>Indywidualnego podejścia</p>
            <p><i class="fa icon-check pr-2"></i>Lepszego samopoczucia</p>
            <p><i class="fa icon-check pr-2"></i>Odpowiedniej motywacji</p>
            <p><i class="fa icon-check pr-2"></i>Braku efektu jo-jo</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

<div class="bg-light d-none d-md-block py-5">
  <div class="container py-5">
    <h2 class="h1 englebert-600 text-center text-lg-left">Przykładowe przepisy</h2>
    <div class="header-underline mx-lg-0"></div>
    <div class="card-deck recipes-deck pt-3">
      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[0] %>
          <%= link_to  @featured_recipes[0] do %>
          <%= image_tag recipe_img(@featured_recipes[0].thumb_image, 'thumb') %>
          <div class="card-body text-center">
            <p class="h4 card-title"><%= @featured_recipes[0].title %></p>
            <p class="text-justify card-text"><%= @featured_recipes[0].subtitle %></p>
          </div>
        <% end %>
        <% end %>
      </div>

      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[1] %>
          <%= link_to  @featured_recipes[1] do %>
          <%= image_tag recipe_img(@featured_recipes[1].thumb_image, 'thumb') %>
          <div class="card-body text-center">
            <p class="h4 card-title"><%= @featured_recipes[1].title %></p>
            <p class="text-justify card-text"><%= @featured_recipes[1].subtitle %></p>
          </div>
        <% end %>
        <% end %>
      </div>

      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[2] %>
          <%= link_to  @featured_recipes[2] do %>
          <%= image_tag recipe_img(@featured_recipes[2].thumb_image, 'thumb') %>
          <div class="card-body text-center">
            <p class="h4 card-title"><%= @featured_recipes[2].title %></p>
            <p class="text-justify card-text"><%= @featured_recipes[2].subtitle %></p>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/bmi_calculator" %>

<div class="bg-light-green py-5">
  <div id="online-consulting" class="container">
    <div class="row m-0 d-flex">
      <div id="online-contact" class="col-12 col-lg-4 text-primary h4 order-2 order-lg-1 pt-5 pt-lg-0">
        <div class="row justify-content-center justify-content-lg-start">
          <span><i class="icon-skype"></i>gab.rownowaga</span>
        </div>
        <div class="row justify-content-center justify-content-lg-start pt-3">
          <i class="icon-mail"></i>
          <p id="ide2" class="d-inline-block"></p>
        </div>
      </div>
      <div class="col 12 col-lg-8 text-orange text-center order-1 order-lg-2">
          <h3 class="englebert-600">Dietetyk online</h3>
          <h5 class="text-black">Skorzystaj z porady dietetyka nie wychodząc z domu!</h5>
      </div>
    </div>
  </div>
</div>

<%= render "shared/opinions" %>
  
<%= render "shared/contact" %>