<%= render "shared/main_header" %>

<div class="bg-light py-3 my-5">
  <div class="container">
    <div class="card-deck flex-column flex-lg-row">
      <div class="card mb-3 mb-lg-0">
        <%= image_tag "step1.jpg", class: "card-img-top", style: "width: 100%;" %>
        <div class="card-body text-center">
          <p class="h4 card-title text-primary">Zrób coś dla siebie i zadbaj o swoje zdrowie!</p>
          <p class="card-text text-justify">Wysyłając formularz bądź umawiając się ze mną na darmową konsultację jesteś o krok bliżej do osiągnięcia lepszej sylwetki i stanu zdrowia. Wypełnienie formularza zajmie Ci około 10 minut - resztą zajmę się ja!</p>
        </div>
      </div>
      <div class="card mb-3 mb-lg-0">
        <%= image_tag "step2.jpg", class: "card-img-top", style: "width: 100%;" %>
        <div class="card-body text-center">
          <p class="h4 card-title text-primary">Realizuj swój plan i ciesz się jedzeniem!</p>
          <p class="card-text text-justify">Aby osiągnąć wymarzony cel Twoim zadaniem będzie przestrzeganie kilku prostych zasad. Moi klienci już po tygodniu zaczynają zauważać pierwsze efekty swojej pracy!</p>
        </div>
      </div>
      <div class="card">
        <%= image_tag "step3.jpg", class: "card-img-top", style: "width: 100%;" %>
        <div class="card-body text-center">
          <p class="h4 card-title text-primary">Pogratuluj sobie wytrwałości!</p>
          <p class="card-text text-justify">Kiedy osiągniesz swój cel poczujesz dumę z samego siebie, ale również chęć na więcej. Masz więcej siły i energii, stajesz się motywacją dla innych. Nie bez powodu mówi się „w zdrowym ciele, zdrowy duch”!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-2 mb-5">
  <div class="container">
    <h2 class="text-primary mb-4 englebert-600">Przykładowe przepisy</h2>

    <div class="card-deck recipes-deck">
      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[0] %>
          <%= image_tag recipe_img(@featured_recipes[0].thumb_image, 'thumb'), width: '100%' %>
          <div class="card-body text-center">
            <p class="h4 card-title text-primary">
              <%= link_to @featured_recipes[0].title, @featured_recipes[0] %>
            </p>
            <p class="text-justify"><%= @featured_recipes[0].subtitle %></p>
          </div>
        <% end %>
      </div>

      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[1] %>
          <%= image_tag recipe_img(@featured_recipes[1].thumb_image, 'thumb'), width: '100%' %>
          <div class="card-body text-center">
            <p class="h4 card-title text-primary">
              <%= link_to @featured_recipes[1].title, @featured_recipes[1] %>
            </p>
            <p class="text-justify"><%= @featured_recipes[1].subtitle %></p>
          </div>
        <% end %>
      </div>

      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[2] %>
          <%= image_tag recipe_img(@featured_recipes[2].thumb_image, 'thumb'), width: '100%' %>
          <div class="card-body text-center">
            <p class="h4 card-title text-primary">
              <%= link_to @featured_recipes[2].title, @featured_recipes[2] %>
            </p>
            <p class="text-justify"><%= @featured_recipes[2].subtitle %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-2 mb-5">
    <div class="container container-bmi">
      <div class="jumbotron bmi-img h-100">
        <div class="panel col-12 col-md-6 p-3 rounded  text-primary">
          <script type="text/javascript">
      
      			function calculateBMI() {
      
      				var height=Number(document.getElementById("height").value);
      				var weight=Number(document.getElementById("weight").value);
      
      				height = height / 100;
      				var bmi=weight/Math.pow(height,2);
      				document.getElementById("bmi-result").classList.remove("d-none");
      				document.getElementById("output").innerText=Math.round(bmi*100)/100;
      
      				var output =  Math.round(bmi*100)/100;
      				if (output<16.99){
      					document.getElementById("comment").innerText = "Wychudzenie";
      					document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na wychudzenie. Zalecam umówienie się na darmową konsultację dietetyczną, aby określić przyczyny tego stanu. Zmiany pod moim okiem pozwolą Ci wrócić do formy, zadbać o dobry wygląd, ale również zapobiec chorobom związanym ze zbyt małą wagą. Spożywanie niewystarczającej ilości składników odżywczych, witamin i minerałów jest niebezpieczne dla zdrowia.";
      				}
      				else   if (output>=17 && output<=18.49) {
      					document.getElementById("comment").innerText = "Niedowaga";
      					document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na niedowagę. Zalecam umówienie się na darmową konsultację dietetyczną, aby określić przyczyny tego stanu. Zmiany pod moim okiem pozwolą Ci wrócić do formy, zadbać o dobry wygląd, ale również zapobiec chorobom związanym ze zbyt małą wagą. Spożywanie niewystarczającej ilości składników odżywczych, witamin i minerałów jest niebezpieczne dla zdrowia.";
      				}
      			  else   if (output>=18.5 && output<25) {
      					document.getElementById("comment").innerText = "Waga prawidłowa";
      					document.getElementById("bmi-description").innerText ="Twoje BMI jest w normie i z dużym prawdopodobieństwem mogę stwierdzić, że nie masz problemu ze zbędnymi kilogramami. Pamiętaj jednak, że warto co jakiś czas skontrolować swoją masę i skład ciała. W tym celu umów się na darmową konsultację podczas której wykonam badanie analizatorem składu masy i ciała. Podczas takiej konsultacji otrzymasz cenne wskazówki jak skutecznie utrzymać aktualną masę ciała lub co zrobić, by poprawić wygląd sylwetki.";
      			  }
      			  else   if (output>=25 && output<30) {
      					document.getElementById("comment").innerText = "Nadwaga";
      					document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na nadwagę. Zalecam umówienie się na darmową konsultację dietetyczną, aby określić przyczyny tego stanu. Zmiany pod moim okiem pozwolą Ci wrócić do formy, zadbać o dobry wygląd, ale również zapobiec chorobom związanym z nieprawidłowym żywieniem.";
      			  }
      				else   if (output>=30 && output<35) {
      					document.getElementById("comment").innerText = "Otyłość pierwszego stopnia";
      					document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje otyłość (I stopnia). W tym przypadku bardzo pomocna może okazać się konsultacja dietetyczna, aby określić przyczyny tego stanu. Umów się na darmową konsultację i zdecyduj czy chcesz podjąć się wprowadzenia bezpiecznych zmian pod moją opieką. Dzięki naszej współpracy możesz poprawić swój stan zdrowia, samopoczucie i sylwetkę.";
      				}
      				else   if (output>=35 && output<40) {
      					document.getElementById("comment").innerText = "Otyłość drugiego stopnia";
      					document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na otyłość II stopnia. Powinieneś niezwłocznie umówić się na darmową konsultację dietetyczną, aby ustalić i wprowadzić nowy plan żywieniowy. Otyłość nie tylko jest defektem estetycznym, ale również jest przyczyną pogarszającego się stanu zdrowia. Nieleczona prowadzi do takich chorób jak : nadciśnienie, miażdżyca, cukrzyca a nawet przyczynia się do powstawania niektórych nowotworów. Zmiany pod moim okiem pozwolą Ci skutecznie i bezpiecznie zadbać o zdrowie fizyczne i psychiczne, poprawić samopoczucie i sylwetkę.";
      				}
      				else   if (output>=40 && output<45) {
      					document.getElementById("comment").innerText = "Otyłość trzeciego stopnia";
      					document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na otyłość III stopnia. Powinieneś niezwłocznie umówić się na darmową konsultację dietetyczną, aby ustalić i wprowadzić nowy plan żywieniowy. Otyłość nie tylko jest defektem estetycznym, ale również jest przyczyną pogarszającego się stanu zdrowia. Nieleczona prowadzi do takich chorób jak : nadciśnienie, miażdżyca, cukrzyca a nawet przyczynia się do powstawania niektórych nowotworów. Zmiany pod moim okiem pozwolą Ci skutecznie i bezpiecznie zadbać o zdrowie fizyczne i psychiczne, poprawić samopoczucie i sylwetkę.";
      				}
      			  else   if (output>=45) {
      					document.getElementById("comment").innerText = "Otyłość czwartego stopnia";
      					document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na otyłość IV stopnia. Powinieneś niezwłocznie umówić się na darmową konsultację dietetyczną, aby ustalić i wprowadzić nowy plan żywieniowy. Otyłość nie tylko jest defektem estetycznym, ale również jest przyczyną pogarszającego się stanu zdrowia. Nieleczona prowadzi do takich chorób jak : nadciśnienie, miażdżyca, cukrzyca a nawet przyczynia się do powstawania niektórych nowotworów. Zmiany pod moim okiem pozwolą Ci skutecznie i bezpiecznie zadbać o zdrowie fizyczne i psychiczne, poprawić samopoczucie i sylwetkę.";
      			  }
      			}
      		</script>
          <h2 class="mb-4 englebert-600">Kalkulator BMI</h2>
			
          <div class="row no-gutters">
            <div class="col-12">
              <div class="row form-group form-inline">
                <label for="height" class="col-4 col-md-3 d-inline">Wzrost:</label>
                <div class="col-8 col-md-9 input-group pl-0">
                  <input type="text" class="form-control" id="height" aria-describedby="cm-unit" />
                  <span class="input-group-addon" id="cm-unit">cm</span>
                </div>
              </div>
    
              <div class="row form-group form-inline">
                <label for="weight" class="col-4 col-md-3 d-inline">Waga:</label>
                <div class="col-8 col-md-9 input-group pl-0">
                  <input type="text" class="form-control" id="weight" aria-describedby="kg-unit" />
                  <span class="input-group-addon" id="kg-unit">kg</span>
                </div>
              </div>
    
              <div class="row form-group form-inline">
                <div class="col-4 col-md-3 d-inline"></div>
                <div class="col-8 col-md-4 input-group px-0">
                  <input type="submit" class="btn btn-primary btn-block" value="Zatwierdź" onclick="calculateBMI();">
                </div>
              </div>
            </div>
      			
      			
      		</div>
      	</div>
      </div>
    </div>
  </div>
  
  <div id="bmi-result" class="bg-light py-2 mb-5 d-none">
    <div class="container container-bmi-res h-100">
      <div class="card-deck flex-column flex-lg-row">
        <div class="card mb-3 mb-md-0 p-3">
            <div id="bmiDescr" class="col-12 text-justify" >
      				<h4 class="text-primary">Twoje BMI: <span id="output"></span></h4>
      				<h4 class="text-primary"><span id="comment"></span> </h4>
      				<div id="bmi-description" ></div>
      			</div>
        </div>
      </div>
    </div>
  </div>
  
  
<%= render "shared/contact" %>
