<%= render "shared/main_header" %>

<div class="bg-light py-3 my-5">
  <div class="container py-5">
    <div class="card-deck flex-column flex-lg-row">
      <div class="card mb-3 mb-lg-0">
        <%= image_tag "https://s3.eu-central-1.amazonaws.com/gabinet-rownowaga/static/step1.jpg", class: "card-img-top" %>
        <div class="card-body text-center">
          <p class="h4 card-title">Zrób coś dla siebie i zadbaj o swoje zdrowie!</p>
          <p class="card-text text-justify">Umawiając się ze mną na <strong>darmową konsultację</strong> jesteś o krok bliżej do osiągnięcia lepszej sylwetki i stanu zdrowia. Wypełnienie formularza zajmie Ci około 10 minut - <strong>resztą zajmę się ja!</strong></p>
        </div>
      </div>
      <div class="card mb-3 mb-lg-0">
        <%= image_tag "https://s3.eu-central-1.amazonaws.com/gabinet-rownowaga/static/step2.jpg", class: "card-img-top" %>
        <div class="card-body text-center">
          <p class="h4 card-title">Realizuj swój plan i ciesz się jedzeniem!</p>
          <p class="card-text text-justify">Aby osiągnąć <b>wymarzony cel</b> Twoim zadaniem będzie przestrzeganie kilku prostych zasad. Moi klienci już po tygodniu zaczynają zauważać <b>pierwsze efekty</b> swojej pracy!</p>
        </div>
      </div>
      <div class="card">
        <%= image_tag "https://s3.eu-central-1.amazonaws.com/gabinet-rownowaga/static/step3.jpg", class: "card-img-top" %>
        <div class="card-body text-center">
          <p class="h4 card-title">Pogratuluj sobie wytrwałości!</p>
          <p class="card-text text-justify">Kiedy <b>osiągniesz swój cel</b> poczujesz dumę z samego siebie, ale również chęć na więcej. Masz <strong>więcej siły i energii</strong>, stajesz się motywacją dla innych. Nie bez powodu mówi się „w zdrowym ciele, zdrowy duch”!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <h2 class="englebert-600 h1 text-center text-lg-left">Dlaczego dietetyk ?</h2>
    <div class="header-underline mx-lg-0"></div>
    <div class="row">
      <div class="col-12 col-lg-8 text-justify">
        <p>Dieta i zdrowy styl życia to obecnie bardzo popularny i modny temat. Większość z nas wie, jakie produkty warto używać a jakie wyeliminować z codziennej diety. W internecie znajduje się mnóstwo stron z poradami dietetycznymi, przykładowymi planami żywieniowymi oraz wskazówkami jak postępować w konkretnych jednostkach chorobowych. Pojawia się zatem pytanie „Po co korzystać z pomocy dietetyka?”</p>
        <p>Pomimo tak ogromnej dostępności informacji w internecie trafia do mnie dużo osób, które już próbowały różnorodnych cudownych diet. Decydując się na dietę cud promowaną w mediach społecznościowych bądź magazynach należy brać pod uwagę ryzyko związane z niedoborami składników odżywczych w organizmie, które mogą powodować obniżenie koncentracji, drażliwość, zmęczenie, wypadanie włosów, łamliwość paznokci a nawet zwiększoną podatność na choroby i infekcje.</p>
        <p>Poza tym dietetyk udziela odpowiedniego wsparcia dla osoby starającej się zmienić swoją sylwetkę. Indywidualna motywacja starcza na okres około 2-3 tygodni. Po tym czasie następuje rozluźnienie w wyniku utraconej już wagi bądź zniechęcenie związane z brakiem utraty kilogramów. Zaczyna się podjadanie a konsekwencją tego jest rezygnacja z diety. Regularne wizyty w gabinecie w naturalny sposób podtrzymują motywację. </p>
        <p>Dlatego uważam, że nie ma czegoś takiego jak „dieta cud”, ale wiem, że odpowiednio ułożony plan żywieniowy potrafi czynić cuda i zmienić życie.</p>
      </div>
      <div class="col-12 col-lg-4 d-flex d-lg-block flex-wrap pt-5 pt-lg-0">
        <div class="col-6 col-lg-12 px-1 px-md-5 px-lg-3"><p><i class="fa fa-check pr-2"></i>Skuteczna dieta</p></div>
        <div class="col-6 col-lg-12 px-1 px-md-5 px-lg-3"><p><i class="fa fa-check pr-2"></i>Indywidualne potrzeby</p></div>
        <div class="col-6 col-lg-12 px-1 px-md-5 px-lg-3"><p><i class="fa fa-check pr-2"></i>Lepsze samopoczucie</p></div>
        <div class="col-6 col-lg-12 px-1 px-md-5 px-lg-3"><p><i class="fa fa-check pr-2"></i>Więcej energii</p></div>
        <div class="col-6 col-lg-12 px-1 px-md-5 px-lg-3"><p><i class="fa fa-check pr-2"></i>Motywacja</p></div>
        <div class="col-6 col-lg-12 px-1 px-md-5 px-lg-3"><p><i class="fa fa-check pr-2"></i>Brak efektu jo-jo</p></div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light d-none d-md-block py-5">
  <div class="container py-5">
    <h2 class="h1 englebert-600 text-center text-lg-left">Przykładowe przepisy</h2>
    <div class="header-underline mx-lg-0"></div>
    <div class="card-deck recipes-deck pt-3">
      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[0] %>
          <%= link_to  @featured_recipes[0] do %>
          <%= image_tag recipe_img(@featured_recipes[0].thumb_image, 'thumb') %>
          <div class="card-body text-center">
            <p class="h4 card-title"><%= @featured_recipes[0].title %></p>
            <p class="text-justify card-text"><%= @featured_recipes[0].subtitle %></p>
          </div>
        <% end %>
        <% end %>
      </div>

      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[1] %>
          <%= link_to  @featured_recipes[1] do %>
          <%= image_tag recipe_img(@featured_recipes[1].thumb_image, 'thumb') %>
          <div class="card-body text-center">
            <p class="h4 card-title"><%= @featured_recipes[1].title %></p>
            <p class="text-justify card-text"><%= @featured_recipes[1].subtitle %></p>
          </div>
        <% end %>
        <% end %>
      </div>

      <div class="card mb-3 mb-md-0">
        <% if @featured_recipes[2] %>
          <%= link_to  @featured_recipes[2] do %>
          <%= image_tag recipe_img(@featured_recipes[2].thumb_image, 'thumb') %>
          <div class="card-body text-center">
            <p class="h4 card-title"><%= @featured_recipes[2].title %></p>
            <p class="text-justify card-text"><%= @featured_recipes[2].subtitle %></p>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div id="bmi" class="container py-5">
    <script>
      function calculateBMI() {
        	var height=Number(document.getElementById("height").value);
        	var weight=Number(document.getElementById("weight").value);
      
        	height = height / 100;
        	var bmi=weight/Math.pow(height,2);
        	document.getElementById("bmi-result").classList.remove("d-none");
        	document.getElementById("bmi-question").classList.remove("d-lg-block");
        	document.getElementById("output").innerText=Math.round(bmi*100)/100;
      
        	var output =  Math.round(bmi*100)/100;
        	if (output<16.99){
        		document.getElementById("comment").innerText = "Wychudzenie";
        		document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na wychudzenie. Zalecam umówienie się na darmową konsultację dietetyczną, aby określić przyczyny tego stanu. Zmiany pod moim okiem pozwolą Ci wrócić do formy, zadbać o dobry wygląd, ale również zapobiec chorobom związanym ze zbyt małą wagą. Spożywanie niewystarczającej ilości składników odżywczych, witamin i minerałów jest niebezpieczne dla zdrowia.";
        	}
        	else   if (output>=17 && output<=18.49) {
        		document.getElementById("comment").innerText = "Niedowaga";
        		document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na niedowagę. Zalecam umówienie się na darmową konsultację dietetyczną, aby określić przyczyny tego stanu. Zmiany pod moim okiem pozwolą Ci wrócić do formy, zadbać o dobry wygląd, ale również zapobiec chorobom związanym ze zbyt małą wagą. Spożywanie niewystarczającej ilości składników odżywczych, witamin i minerałów jest niebezpieczne dla zdrowia.";
        	}
          else   if (output>=18.5 && output<25) {
        		document.getElementById("comment").innerText = "Waga prawidłowa";
        		document.getElementById("bmi-description").innerText ="Twoje BMI jest w normie i z dużym prawdopodobieństwem mogę stwierdzić, że nie masz problemu ze zbędnymi kilogramami. Pamiętaj jednak, że warto co jakiś czas skontrolować swoją masę i skład ciała. W tym celu umów się na darmową konsultację podczas której wykonam badanie analizatorem składu masy i ciała. Podczas takiej konsultacji otrzymasz cenne wskazówki jak skutecznie utrzymać aktualną masę ciała lub co zrobić, by poprawić wygląd sylwetki.";
          }
          else   if (output>=25 && output<30) {
        		document.getElementById("comment").innerText = "Nadwaga";
        		document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na nadwagę. Zalecam umówienie się na darmową konsultację dietetyczną, aby określić przyczyny tego stanu. Zmiany pod moim okiem pozwolą Ci wrócić do formy, zadbać o dobry wygląd, ale również zapobiec chorobom związanym z nieprawidłowym żywieniem.";
          }
        	else   if (output>=30 && output<35) {
        		document.getElementById("comment").innerText = "Otyłość pierwszego stopnia";
        		document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje otyłość (I stopnia). W tym przypadku bardzo pomocna może okazać się konsultacja dietetyczna, aby określić przyczyny tego stanu. Umów się na darmową konsultację i zdecyduj czy chcesz podjąć się wprowadzenia bezpiecznych zmian pod moją opieką. Dzięki naszej współpracy możesz poprawić swój stan zdrowia, samopoczucie i sylwetkę.";
        	}
        	else   if (output>=35 && output<40) {
        		document.getElementById("comment").innerText = "Otyłość drugiego stopnia";
        		document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na otyłość II stopnia. Powinieneś niezwłocznie umówić się na darmową konsultację dietetyczną, aby ustalić i wprowadzić nowy plan żywieniowy. Otyłość nie tylko jest defektem estetycznym, ale również jest przyczyną pogarszającego się stanu zdrowia. Nieleczona prowadzi do takich chorób jak : nadciśnienie, miażdżyca, cukrzyca a nawet przyczynia się do powstawania niektórych nowotworów. Zmiany pod moim okiem pozwolą Ci skutecznie i bezpiecznie zadbać o zdrowie fizyczne i psychiczne, poprawić samopoczucie i sylwetkę.";
        	}
        	else   if (output>=40 && output<45) {
        		document.getElementById("comment").innerText = "Otyłość trzeciego stopnia";
        		document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na otyłość III stopnia. Powinieneś niezwłocznie umówić się na darmową konsultację dietetyczną, aby ustalić i wprowadzić nowy plan żywieniowy. Otyłość nie tylko jest defektem estetycznym, ale również jest przyczyną pogarszającego się stanu zdrowia. Nieleczona prowadzi do takich chorób jak : nadciśnienie, miażdżyca, cukrzyca a nawet przyczynia się do powstawania niektórych nowotworów. Zmiany pod moim okiem pozwolą Ci skutecznie i bezpiecznie zadbać o zdrowie fizyczne i psychiczne, poprawić samopoczucie i sylwetkę.";
        	}
          else   if (output>=45) {
        		document.getElementById("comment").innerText = "Otyłość czwartego stopnia";
        		document.getElementById("bmi-description").innerText = "Twoje BMI wskazuje na otyłość IV stopnia. Powinieneś niezwłocznie umówić się na darmową konsultację dietetyczną, aby ustalić i wprowadzić nowy plan żywieniowy. Otyłość nie tylko jest defektem estetycznym, ale również jest przyczyną pogarszającego się stanu zdrowia. Nieleczona prowadzi do takich chorób jak : nadciśnienie, miażdżyca, cukrzyca a nawet przyczynia się do powstawania niektórych nowotworów. Zmiany pod moim okiem pozwolą Ci skutecznie i bezpiecznie zadbać o zdrowie fizyczne i psychiczne, poprawić samopoczucie i sylwetkę.";
          }
        }
    </script>
    <div class="row w-100 m-0">
      <div class="col-12 col-lg-4 p-0">
        <h2 class="h1 englebert-600 text-center text-lg-left">Kalkulator BMI</h2>
        <div class="header-underline mx-lg-0"></div>
        <div class="justify-content-center">
          <div class="row form-group form-inline justify-content-center justify-content-lg-start px-3 pt-3">
            <label for="height" class="d-inline">Wzrost:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="height" aria-describedby="cm-unit" />
              <div id ="height-append" class="input-group-append">
                <span id="cm-unit" class="input-group-text">cm</span>
              </div>
            </div>
          </div>
    
          <div class="row form-group form-inline justify-content-center justify-content-lg-start px-3">
            <label for="weight" class="d-inline">Waga:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="weight" aria-describedby="kg-unit" />
              <div class="input-group-append">
                <span id="kg-unit" class="input-group-text">kg</span>
              </div>
            </div>
          </div>
          
          <div class="row pt-2 pl-md-3 form-group form-inline justify-content-center justify-content-lg-start">
            <input type="submit" class="btn btn-primary" value="Zatwierdź" onclick="calculateBMI();">
          </div>
        </div>
      </div>
        
      <div class="col-12 col-lg-8 d-flex align-items-center justify-content-center">
        <i id="bmi-question" class="fa fa-question fa-big text-primary d-none d-lg-block"></i>
        <div id="bmi-result" class="bg-light rounded d-none">
          <div class="card-deck flex-column p-3 flex-lg-row">
            <div class="card mb-3 mb-md-0 p-3">
              <div id="bmiDescr" class="col-12 text-justify" >
        				<h4 class="text-primary">Twoje BMI: <span id="output"></span></h4>
        				<h4 class="text-primary"><span id="comment"></span> </h4>
        				<div id="bmi-description" ></div>
        			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light-green py-5">
  <div id="online-consulting" class="container">
    <div class="row d-flex pl-3">
      <div id="online-contact" class="col-12 col-lg-4 text-primary h4 order-2 order-lg-1 pr-0 pt-5 pt-lg-0">
        <div class="row no-gutters justify-content-center justify-content-lg-start">
          <span><i class="fa fa-skype"></i>gab.rownowaga</span>
        </div>
        <div class="row no-gutters justify-content-center justify-content-lg-start pt-3">
          <i class="fa fa-envelope-o"></i>
          <p id="ide2" class="d-inline-block"></p>
        </div>
      </div>
      <div class="col 12 col-lg-8 text-orange text-center order-1 order-lg-2">
          <h3 class="englebert-600">Konsultacja online</h3>
          <h5 class="text-black">Skorzystaj z porady nie wychodząc z domu!</h5>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <h2 class="h1 englebert-600 text-center text-lg-left">Opinie</h2>
    <div class="header-underline mx-lg-0"></div>
    <div class="row pt-3">
      <div class="col-12 col-lg-4 pb-4">
        <span class="float-right pr-3">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
        <blockquote class="blockquote px-3 pl-lg-0 pr-lg-3">
          <i class="fa fa-quote-left fa-2"></i>
          <p class="mb-0 text-justify font-italic">
            Do Pani Patrycji zgłosiłam się z niedowagą. Potrzebowałam porządnie ułożonej diety, ponieważ jako pracująca i aktywna osoba nie mam czasu jeść bardzo regularnych posiłków. Pani Patrycja przeanalizowała skład mojego ciała, a po przeprowadzonym wywiadzie ułożyła świetną dietę z prostymi do zrobienia posiłkami. Po paru tygodniach faktycznie moja waga się powoli zmienia ;) 
          </p>
          <footer class="blockquote-footer text-right">Jagoda N.</footer>
        </blockquote>
      </div>
      <div class="col-12 col-lg-4 pb-4">
        <span class="float-right pr-3">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
        <blockquote class="blockquote px-3">
          <i class="fa fa-quote-left fa-2"></i>
          <p class="mb-0 text-justify font-italic">
            Serdecznie polecam. Profesjonalna konsultacja oraz dobrze i smacznie dobrane jadłospisy. Dietetyk godny zaufania :) 
          </p>
          <footer class="blockquote-footer text-right">Paulina S.</footer>
        </blockquote>
      </div>
      <div class="col-12 col-lg-4 pb-4">
        <span class="float-right">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
        <blockquote class="blockquote pl-3">
          <i class="fa fa-quote-left fa-2"></i>
          <p class="mb-0 text-justify font-italic">
            Skontaktowałam się z panią Patrycją, ponieważ jako wegetarianka z alergiami pokarmowymi miałam trudności z ułożeniem sobie diety. Bardzo profesjonalne podejście do tematu i szeroka wiedza to duże plusy pani Patrycji, a także to co dla mnie istotne dobranie takich produktów, które nie rujnują kieszeni. Polecam serdecznie! 
          </p>
          <footer class="blockquote-footer text-right">Anna J.</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
  
<%= render "shared/contact" %>
