<%= render "shared/offer_header" %>

<div class="bg-light py-3">
  <div class="container">
    <div class="card offer-card mb-4">
      <div class="card-body col-md-8 col-lg-6 py-5 mx-auto">
        <h1 class="card-title text-center mt-3">Oferta</h1>
        <p class="card-text lead text-justify text-indent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-8">
        <div class="bg-primary-light border border-panel-border rounded p-4 h-100">
          <p class="lead text-justify text-indent">Rodziców dzieci z całościowym zaburzeniem rozwoju, którzy chcą z pomocą dietoterapii poprawić funkcjonowanie dziecka oraz wzmocnić efekty pozostałych działań terapeutycznych.</p>
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag "http://via.placeholder.com/360x200", style: "width: 100%;" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <%= image_tag "http://via.placeholder.com/360x200", style: "width: 100%;" %>
      </div>
      <div class="col-md-8">
        <div class="bg-primary-light border border-panel-border rounded p-4 h-100">
          <p class="lead text-justify text-indent">Rodziców dzieci otyłych, którym zależy na zdrowiu i bezpieczeństwie dzieci. Chcących dokonać mądrych i przemyślanych zmian w diecie i życiu dziecka.</p>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-8">
        <div class="bg-primary-light border border-panel-border rounded p-4 h-100">
          <p class="lead text-justify text-indent">Osób dorosłych, borykających się z nadwagą lub otyłością, które mają za sobą liczne, nieudane próby odchudzania się. Jest to oferta dla osób, które straciły wiarę w to, że uda im się samodzielnie dokonać zmiany nawyków żywieniowych.</p>
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag "http://via.placeholder.com/360x200", style: "width: 100%;" %>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4">
        <%= image_tag "http://via.placeholder.com/360x200", style: "width: 100%;" %>
      </div>
      <div class="col-md-8">
        <div class="bg-primary-light border border-panel-border rounded p-4 h-100">
          <p class="lead text-justify text-indent">Osób dorosłych chcących zrzucić kilka zbędnych kilogramów, poprawić jakość swojego życia oraz nauczyć się nowych, zdrowych nawyków żywieniowych.</p>
        </div>
      </div>
    </div>
  </div>
</div>
