<%= render "shared/offer_header" %>

<div class="bg-light py-3">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8">
        <div class="p-4 h-100 d-flex align-items-center">
          <p class="lead text-justify">Rodziców dzieci z całościowym zaburzeniem rozwoju, którzy chcą z pomocą dietoterapii poprawić funkcjonowanie dziecka oraz wzmocnić efekty pozostałych działań terapeutycznych.</p>
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag "offer1.jpeg", style: "width: 100%;" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <%= image_tag "offer2.jpeg", style: "width: 100%;" %>
      </div>
      <div class="col-md-8">
        <div class="p-4 h-100 d-flex align-items-center">
          <p class="lead text-justify">Rodziców dzieci otyłych, którym zależy na zdrowiu i bezpieczeństwie dzieci. Chcących dokonać mądrych i przemyślanych zmian w diecie i życiu dziecka.</p>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-8">
        <div class="p-4 h-100 d-flex align-items-center">
          <p class="lead text-justify">Osób dorosłych, borykających się z nadwagą lub otyłością, które mają za sobą liczne, nieudane próby odchudzania się. Jest to oferta dla osób, które straciły wiarę w to, że uda im się samodzielnie dokonać zmiany nawyków żywieniowych.</p>
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag "offer3.jpeg", style: "width: 100%;" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <%= image_tag "offer4.jpeg", style: "width: 100%;" %>
      </div>
      <div class="col-md-8">
        <div class="p-4 h-100 d-flex align-items-center">
          <p class="lead text-justify">Osób dorosłych chcących zrzucić kilka zbędnych kilogramów, poprawić jakość swojego życia oraz nauczyć się nowych, zdrowych nawyków żywieniowych.</p>
        </div>
      </div>
    </div>
  </div>
</div>
