<%= render "shared/offer_header" %>

<div class="bg-light py-3">
  <div class="container">
    <div class="row no-gutters mb-4 d-flex">
      <div class="col-md-8 order-2 order-md-1">
        <div class="p-4 h-100 d-flex align-items-center">
          <p class="lead text-justify">Skorzystaj z oferty jeżeli jesteś rodzicem dziecka z zaburzeniami rozwoju. Przy odpowiednio
            prowadzonej dietoterapii istnieje duża szansa na poprawę funkcjonowania dziecka przy
            jednoczesnym wzmocnieniu pozostałych efektów terapeutycznych. Właściwe postępowanie
            dietetyczne jest jednym z najbardziej istotnych czynników terapeutycznych. Odpowiednio dobrana
            dietoterapia opiera się na indywidualnych potrzebach żywieniowych dziecka.
          </p>
        </div>
      </div>
      <div class="col-md-4 order-1 order-md-2">
        <%= image_tag "offer1.jpg", style: "width: 100%;" %>
      </div>
    </div>

    <div class="row no-gutters mb-4 d-flex">
      <div class="col-md-4 order-1">
        <%= image_tag "offer2.jpg", style: "width: 100%;" %>
      </div>
      <div class="col-md-8 order-2">
        <div class="p-4 h-100 d-flex align-items-center">
          <p class="lead text-justify">Skorzystaj z oferty jeżeli jesteś rodzicem dziecka, które ma nieprawidłową masę ciała, a zależy Ci
            na jego zdrowiu i bezpieczeństwie. Skutki żywienia w dzieciństwie mają ogromny wpływ na
            zdrowie i funkcjonowanie w dorosłym życiu. Jeżeli widzisz ,że Twoje dziecko ma problemy z
            wagą , a chcesz w mądry i przemyślany sposób dokonać zmian w jego żywieniu oraz poprawić
            jakoś jego życia ,to ta oferta jest właśnie dla Ciebie i dziecka.
          </p>
        </div>
      </div>
    </div>

    <div class="row no-gutters mb-4 d-flex">
      <div class="col-md-8 order-2 order-md-1">
        <div class="p-4 h-100 d-flex align-items-center">
          <p class="lead text-justify">Skorzystaj z oferty jeżeli jesteś osobą, która ma problem z nadwagą lub otyłością ,a zależy Ci na
            zdrowiu i poprawie sylwetki.Stosowanie różnych diet cud, które w rezultacie nie przynoszą efektów
            prowadzą do utraty motywacji, wiary w siebie i rezygnacji ze zmiany. Jeżeli jesteś osobą
            zdeterminowaną i gotową na zmianę, skorzystaj właśnie z tej oferty i przejdź na konsultację.
          </p>
        </div>
      </div>
      <div class="col-md-4 order-1 order-md-2">
        <%= image_tag "offer3.jpg", style: "width: 100%;" %>
      </div>
    </div>

    <div class="row no-gutters mb-4 d-flex">
      <div class="col-md-4 order-1">
        <%= image_tag "offer4.jpg", style: "width: 100%;" %>
      </div>
      <div class="col-md-8 order-2">
        <div class="p-4 h-100 d-flex align-items-center">
          <p class="lead text-justify">Skorzystaj z oferty jeżeli jesteś osobą, której zależy na dobrej formie i idealnej sylwetce.
            Utrzymywanie prawidłowej masy ciała pozytywnie wpływa na zdrowie fizyczne oraz psychiczne.
            Zadowolenie ze swojego wyglądu ma ogromny wpływ na pozytywny obraz samego siebie i
            samoocenę. Jeżeli jesteś osobą, która chce zrzucić kilka zbędnych kilogramów i dowiedzieć się jak
            utrzymywać wagę bez ciągłej myśli o odchudzaniu ,to jest to idealna propozycja dla Ciebie.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
